{% extends "base.html" %}
{% block content %}
<h1>{{ athlete.firstname }} {{ athlete.lastname }}</h1>
<img src="{{ athlete.profile }}">

<h1>Total Moving Time: {{ sum_of_moving|to-minutes-seconds }} | Average Pace: {{ total_average_pace|to-minutes-seconds }}/mi | Average Distance: {{ average_distance|double-format:2 }}mi</h1>

<ol>
{% for activity in activities %}
<li>
<p><i>{{ activity.start_date_local|date:"mediumDateTime" }}</i></p>
<h2>{{ activity.name }}</h2> 
<h3>{{ activity.moving_time|to-minutes-seconds }}<br><small>{{ activity.distance|to-miles }} mi</small></h3>
<p>Pace: <em>{{ activity.pace|to-minutes-seconds }}/mi</em></p></li>
{% endfor %}
</ol>
{% endblock content %}