<html>
  <head>
<title>Hello, Strava.</title>
</head>
<body>
{% include "./navigation.html" %}
{% block content %}
<h1>Hello, Strava.</h1>



{{ access_code }}

<a href="https://www.strava.com/oauth/authorize?client_id={{ client_id }}&response_type=code&redirect_uri={{ redirect_uri }}&scope=view_private">Authorize Strava</a>
{% endblock content %}
</body>
</html>
